@use "../../scss/" as *;

.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.inputAuth{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.labelAuth{
    font-size: 12px;
    color: gray;
}

.spanAuth{
    font-size: 12px;
    padding: 3px;
    color: $main-color;
    display: none;
}

.inputAuth:invalid[focused="true"]{
    border: 1px solid $main-color;
}

.inputAuth:invalid[focused="true"] ~ .spanAuth{
    display: block;
}